.sidebarOption {
    display: flex;
    align-items: center;
    color: grey;
    height: 40px;
    cursor: pointer;
    transition: color 200ms ease-in;
}

.sidebarOption:hover {
    color: white;
}

.sidebarOption>p {
    margin-top: 10px;
    margin-left: 20px;
    font-size: 14px;
}

.sidebarOption_logo{
    margin: 0 5px 0 10px;
}