.sidebar {
  flex: 0.2;
  background-color: #040404;
  color: white;
  max-width: max(40%, 200px);
  padding: 0 10px;
}

.sidebar_title {
  margin-left: 10px;
  padding: 5px;
  font-size: 12px;
  cursor: default;
}

.sidebar_logo {
  margin-right: auto;
  /* object-fit: contain; */
  height: 70px;
  padding: 10px;
}

.sidebar>hr {
  border: 1px solid #282828;
  width: 90%;
  margin: 10px auto;
}